<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>

<body>

    <h1>Cart</h1>
    <ul>
        <% let sum=0 %>
            <% for(let product of products) { %>
                <li>
                    <%= product.name %> : <%= product.quantity %> * <%= product.unitPrice %> = <%= product.quantity *
                                    product.unitPrice %>
                                    <% sum +=product.quantity * product.unitPrice %>
                </li>
                <% } %>
    </ul>

    <h3>Total Amount: <%= sum %>
    </h3>

    <button><a href="/products/pay">Proceed To Pay</a></button>

    <a href="/products/new">Add More Products</a>

</body>

</html>